# Set environment variables
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin



# Run the Laravel scheduler every minute
* * * * * export $(grep -v '^#' /root/.env | xargs) && /usr/local/bin/php /var/www/html/artisan schedule:run >> /var/log/cron.log 2>&1
